    <div id="footer">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col">
                    <h4>Follow Us</h4>
                    <div>
                        <a href="https://facebook.hsbne.org/"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                        <a href="https://instagram.hsbne.org"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                        <a href="https://twitter.hsbne.org"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col">
                    <ul style="list-style-type: none">
                        <li><h4>Links</h4></li>
                        <li><a href="/join">Sign Up</a> </li>
                        <li><a href="https://portal.hsbne.org/" target="_blank">Portal Login</a></li>
                        <li><a href="https://chat.hsbne.org/">Chat app (Discord)</a> </li>
                    </ul>
                </div>
                <div class="col">
                    <ul style="list-style-type: none">
                        <li><h4>Organisation</h4></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="https://manual.hsbne.org/">Constitution</a></li>
                        <li><a href="/admin">By Laws</a></li>
                        <li><a href="/media">Media Pack</a></li>
                        <li><a href="https://launch.hsbne.org/">HSBNE Apps</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <p>Hackerspace Brisbane acknowledges the Yuggera and Turrbal peoples, the Traditional Custodians of the Country on which we meet, and pay our respect to Elders past, present and emerging. We honour and respect their continued cultural and spiritual relationship to their Traditional Lands and Waters and recognise their contribution to society.</p>
            </div>
        </div>
    </div>