<div id="header" class="container">
  <a href="/" class="brand pull-left">
    <img src="/assets/img/headerlogo.png" />
    <span>{{ site.title }}</span>
  </a>


  <ul class="nav nav-pills pull-right">
    <li><a class="btn" href="/blog/"><i class="icon-bullhorn"></i> Blog</a><a class="btn" href="/projects/">
        <i class="icon-folder-open-alt"></i> Projects</a>
    </li>
    <li><a class="btn" href="/events/"><i class="icon-calendar"></i> Events</a><a class="btn" href="/classes/">
        <i class="icon-fire-extinguisher"></i> Classes</a></li>
        <li><a class="btn" href="/thespace.html"><i class="icon-map-marker"></i> Our Campus</a>
        <a class="btn" href="/admin/"><i class="icon-info "></i> Member Info</a></li>
    </li>

<li><div class="btn-group closed">
  <a class="btn btn-primary" href="/contact.html"><i class="icon-microphone"></i> Contact</a>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="/contact.html">
    <span class="icon-caret-down"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/media.html"><i class="icon-fixed-width icon-pencil"></i> Media</a></li>
    <li><a href="/donate.html"><i class="icon-fixed-width icon-gift"></i> Donate</a></li>
    <li><a href="/join.html"><i class="icon-fixed-width icon-pencil"></i>Join</a></li>

  </ul>
</div>



  </ul>





</div>
