    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse"> <i class="fa fa-bars"></i> </button>
                <a class="navbar-brand" href="/"> <img src="/assets/img/favico/favicon-32x32.png" class="pull-left img-responsive" height="20" width="20"> HSBNE</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <a href="index.html#about">About</a> </li>
                    <li> <a href="/thespace.html">Visit Us</a> </li>
                    <li> <a href="/join.html">Join Us</a> </li>
                    <li> <a href="/events.html">Events</a> </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle " data-toggle="dropdown" href="#">
            Community
          <b class="caret"></b>
          </a>
                        <ul class="dropdown-menu">
                            <li><a href="http://blog.hsbne.org">Blog</a></li>
                            <li><a href="http://forum.hsbne.org">Forum</a></li>
                            <li><a href="http://wiki.hsbne.org">Wiki</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle pull-left" data-toggle="dropdown" href="/admin">
            More Info
            <b class="caret"></b>
         </a>
                        <ul class="dropdown-menu pull-left">
                            <li><a href="/contact.html">Contact Us</a></li>
                            <li><a href="/donate.html">Donate to HSBNE</a></li>
                            <li><a href="/media.html">Media Information</a></li>
                            <li><a href="/admin/">Member Information</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

