<div id="header" class="container">
  <a href="/" class="brand pull-left">
    <img src="/assets/img/headerlogo.png" />
    <span>{{ site.title }}</span>
  </a>





    <ul class="nav nav-pills pull-right">

    <li><a href="/blog/">Blog</a></li>
    <li><a href="/projects/">Projects</a></li>
    <li><a href="/events/">Events</a></li>
    <li><a href="/classes/">Classes</a></li>
    <li><a href="/thespace.html">Our Campus</a>
    <li><a href="/admin/">Member Info</a></li>
    <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="/contact.html">
    Communicate
    <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/join.html">Join Us!</a></li>
    <li><a href="/donate.html">Donate</a></li>
    <li><a href="/media.html">Media</a></li>
    </ul>
    </li>
    </ul>


</div>
