<!-- Navigation -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container">
    <a class="navbar-brand" href="/"> <img src="/assets/img/favico/favicon-32x32.png" class="float-start img-fluid" height="20" width="20" /> HSBNE</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav"><div class="navbar-toggler-icon"></div></button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto"> 
        <li class="nav-item"><a href="/visit" class="nav-link">Visit Us</a></li>
        <li class="nav-item"><a href="/explore" class="nav-link">Our Tools</a></li>
        <li class="nav-item"><a href="/join" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="https://portal.hsbne.org/" target="_blank" class="nav-link">Login</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="https://facebook.hsbne.org/" class="nav-link"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
        <li class="nav-item"><a href="https://instagram.hsbne.org" class="nav-link"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
        <li class="nav-item"><a href="https://twitter.hsbne.org" class="nav-link"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
