<!-- Navigation -->
<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="/"> <img src="/assets/img/favico/favicon-32x32.png" class="float-start img-fluid" height="20" width="20" /> HSBNE</a>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav"><div class="navbar-toggler-icon"></div></button>
    <div class="collapse navbar-collapse" id="nav">
      <ul class="navbar-nav ms-auto">
        <!-- <li class="nav-item"><a href="/visit" class="nav-link">Visit Us</a></li> -->
        <li class="nav-item"><a href="/join" class="nav-link">Sign Up</a></li>
        <!-- <li class="nav-item"><a href="/explore" class="nav-link">Our Tools</a></li> -->

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Our Tools </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="explore/woodworking">Woodworking</a></li>
            <li><a class="dropdown-item" href="explore/digifab">Laser cutting & 3D printing</a></li>
            <li><a class="dropdown-item" href="explore/metalworking">Metalworking</a></li>
            <li><a class="dropdown-item" href="explore/electronics">Electronics</a></li>
            <li><a class="dropdown-item" href="explore/craftpunk">Arts & Crafts</a></li>
          </ul>
        </li>

        <!-- <li class="nav-item"><a href="https://portal.hsbne.org/" target="_blank" class="nav-link">Login</a></li> -->
        <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Members </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li>
              <a class="dropdown-item" href="https://portal.hsbne.org/" target="_blank">Portal Login</a>
            </li>
            <li><a class="dropdown-item" href="https://forum.hsbne.org/" target="_blank">Forum</a></li>
            <li><a class="dropdown-item" href="https://wiki.hsbne.org/tools/home" target="_blank">Wiki</a></li>
            <li><a class="dropdown-item" href="/admin">Rules</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="https://facebook.hsbne.org/" class="nav-link" target="_blank"><i class="bi bi-facebook fs" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://instagram.hsbne.org" class="nav-link" target="_blank"><i class="bi bi-instagram" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://twitter.hsbne.org" class="nav-link" target="_blank"><i class="bi bi-twitter-x" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
