<title>
  {% if page.title %}{{ page.title }} - {% endif %}
  {% if page.layout == "meeting" and page.date != nil %}Meeting {{ page.date }} - {% endif %}
  {{ site.title }}
</title>
{% if page.description %}
<meta name="description" content="{{ page.description }}" />
{% endif %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="alternate" type="application/rss+xml" href="http://blog.hsbne.org/rss">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/assets/css/styles.css" rel="stylesheet" media="screen">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<link href="/assets/css/jquery.gcal_flow.css" rel="stylesheet" type="text/css">

<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">

<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">

<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">

<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">

<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">

<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">

<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">

<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">

<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

<link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">

<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">

<link rel="manifest" href="/manifest.json">

<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

<meta name="apple-mobile-web-app-title" content="HSBNE">

<meta name="application-name" content="HSBNE">

<meta name="msapplication-TileColor" content="#ffffff">

<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<meta name="theme-color" content="#ffffff">


{% include script_ga.html %}
