
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.parallax.js"></script>
    <!-- Javascripts
    ================================================== -->
    <script src="https://use.fontawesome.com/cd00157a1b.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
        
<script src="//cdnjs.cloudflare.com/ajax/libs/h5Validate/0.8.4/jquery.h5validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.js"></script>
{% if page.script %}
  <script src="/assets/js/inline/{{ page.script }}"></script>
{% endif %}
