#intro {
  position: relative;
  /* height: 100vh; */
  background: url(../img/services-bg.jpg) no-repeat center center fixed;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .container {
    position: relative;
    z-index: 2;
    color: $hsbne-light-grey;
  }

  h1 {

    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
  }
  .brand {
    color: $hsbne-red;
  }
}

/*
@media (min-width: 768px) {
  #intro {
    height: 75vh;
    padding: 0;
  }
}
*/

.home-odd {
    background: $hsbne-light-grey;
}