//general settings
$font-stack: 'Open Sans', sans-serif;

//Basic Colours
$hsbne-red: #e53935;
$hsbne-light-grey: #fbf9f7;

//object colors
$link-color: $hsbne-red;
$link-hover-color: #f6d97e;
$text-color: #555555;//444
$button-color: $hsbne-red;
$button-text-color: $hsbne-light-grey;