/*
 * FONTS
 */

@font-face {
    font-family: 'CEAB';
    src: url('../fonts/logo-webfont.eot');
    src: url('../fonts/logo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/logo-webfont.woff') format('woff'),
         url('../fonts/logo-webfont.ttf') format('truetype'),
         url('../fonts/logo-webfont.svg#ceabregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
 * BOOTSTRAP CUSTOMISATION
 */

/*
 * TOOLS
 */
.hidden {
    display: none;
}
.invisible {
    visibility: none;
}

/*
 * LAYOUT
 */

#header {
    margin-top: 5px;
    margin-bottom: 15px;
}

#header .nav {
    margin-top: 2.5em;
}

.herobar {
    position: relative;
}

.calltoaction {
    position: absolute;
    bottom: 0px;
    display : table-row;
    vertical-align : bottom;
    height : 1px;
}

#footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
 * DESIGN
 */

#footer {
  text-align: right;
  font-size: 0.8em;
}
.brand {
    height: 105px;
    display: inline-block;
    text-decoration: none;
}
.brand img {
    position: absolute;
}
.brand span {
    font: 4em/1.4em 'CEAB';
    color: #000;
    padding: 0.25em 0 0 73px;
    display: inline-block;
}

.herobar {
    background: url('../img/px_by_Gre3g.png');
	-moz-box-shadow: inset 0 18px 18px -18px #696868, inset 0 -18px 18px -18px #696868;
	-webkit-box-shadow: inset 0 18px 18px -18px #696868, inset 0 -18px 18px -18px #696868;
	box-shadow: inset 0 18px 18px -18px #696868, inset 0 -18px 18px -18px #696868;
    padding: 1.8em;
    border-bottom: 4px solid #FFB629;
}

.herobar * {
    color: #FFF;
}

#heroCarousel {
    height: 270px;
    margin-bottom: 0px;
}

#heroCarousel img {
    border-radius: 5px;
}

.carousel-indicators {
    top: auto;
    bottom: 5px;
    right: 5px;
}

.embedmap * {
    border-radius: 5px;
    border: 1px #DDD solid;
}

ul.blog li, ul.event li {
    list-style-type: none;
}
ul.blog img, ul.event img {
    border-radius: 5px;
}

.bordered {
  border: 2px solid #999;
  padding: 0px 15px;
}

.pair-left {
  border-radius: 10px 0px 0px 10px;
  border-right: none;
  overflow: hidden;
  box-sizing: border-box;
  margin-right: 0px;
}

.pair-right {
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 0px;
}

.postmini {
  padding-bottom: 2em;
}
