---
layout: default
description: description
title: Member Information
published: true
---

<div class="row">
  <div class="col-md-12">
    <p class="lead">
      As a member run club, here you can find all the boring but necessary documentation. Meeting agendas, notes, mandates, policy are all here.
    </p>
    <p>
      HSBNE Rules and Policies are in effect on site, and at any gathering using the HSBNE name to organise.
    </p>
  </div>
</div>
<div class="row">
	<div class="col-md-6">
		
	<h3><a target="_blank" href="https://docs.google.com/document/d/1D56Ox1ujrWWa1XlQgDc8u6sQTZahM7vhDQcEzJOxmjk/edit">New Members Guide</a></h3>
    <p>This is a digital version of the new members guide. The link above takes you to the latest version on Google Drive, but there's also a <a href="/admin/New_Members_Guide.pdf">PDF</a>.</p>


    <h3><a href="/admin/rules.html">Group Rules (Constitution)</a></h3>
    <p>Our group rules are a fairly well modified version of the Model Rules for Incorporation. If any policies below are inconcistent with this constitution, they will be overidden.</p>

    <h3><a href="/admin/covid19">COVID19</a></h3>
    <p>HSBNE's COVID19 management plan and policy.</p>

    <h3><a href="/admin/policyprocess">Policy Policy</a></h3>
    <p>How to change our Rules and Policy.</p>

    <h3><a href="/admin/code.html">Code of Conduct</a></h3>
    <p>The code of conduct is a set of guidelines that outline an acceptable standard of behaviour and conduct of all HSBNE members and guests whether it be online, in a pub or at HSBNE.</p>

    <h3><a href="/admin/safespace.html">Safe Space Policy</a></h3>
    <p>Our Safe Space policy describes the environment of inclusivity and safety that we wish to create for people from all walks of life. HSBNE aims to be an equitable hackerspace.</p>
    
    <h3> <a target="_blank" href="https://docs.google.com/document/d/1lgnfvc8fAFXcWZ4Sv9Pe9AE0ctgeGFhkOuM0QbNZqM8">General Membership and Payments</a></h3>
    <p>This document clarifies the processes and rules around handling new memberships, payments, the admission/rejection of new memberships and terminating memberships.</p>
		
    <h3> <a href="/admin/safety">Safety at HSBNE</a></h3>
    <p>Safety is important at HSBNE as it's hard to hack when injured. This outlines the group's safety expectations when you use the space.</p>
    
    <h3> <a target="_blank" href="https://docs.google.com/document/d/18W5HURR1-jkxHKbBEIbek4KZnXPiRl4uZhSk6pSA1nI">Site Modifications and Electrical Work</a></h3>
    <p>This policy details certain rules and procedures around making site modifications or performing electrical work.</p>
     
    <h3><a href="/admin/dispute.html">Dings and Bans</a></h3>
    <p>Disagreements between members are inevitable. Through experience, HSBNE has provided this dispute resolution policy.</p>
		
    <h3> <a href="/admin/storage">Storage at HSBNE</a></h3>
    <p>We have a number of places you can temporarily store your projects while working on them, this outlines the group's expectations when you use them. </p>

    <h3> <a href="/admin/storage">Large Projects at HSBNE</a></h3>
    <p>If you want to work on something large at HSBNE, theres a process you must follow.</p>
		
    <h3><a href="/admin/causes.html">Causes at HSBNE</a></h3>
    <p>Causes are micro groups within HSBNE that are empowered to direct funds towards their own interests without having to convince merit to the group as a whole.</p>

    <h3><a href="/admin/guests.html">Guests at HSBNE</a></h3>
    <p>Clarifications around having guests or non-members at HSBNE.</p>

    <h3><a href="/admin/tickets.html">Ticketing System at HSBNE</a></h3>
    <p>HSBNE utilises a Ticket system to bring a fleeting sense of control amongst the Chaos. It is recommended you be aware of its usage</p>

    <h3><a href="/admin/policy.html">Other Policies</a></h3>
    <p>We have a number of other policies and guidelines within the group. These are typically the result of a meeting.</p>

    <h3><a href="/admin/costs.html">Ongoing Costs</a></h3>
    <p>The Executive tries to keep any ongoing cost commitments by HSBNE documented here.</p>

    <h3><a href="/admin/exechistory.html">Executive History</a></h3>
    <p>The history of members who have dedicated their time to making HSBNE run.</p>

  </div>
	<div class="col-md-6">
    <h3>Meetings</h3>
    <p>Minutes of pre-2020 HSBNE meetings. <a href="https://wiki.hsbne.org/meetings/general/2020/home">2020 onwards is available here.</a></p>
    <dl>
      {% assign pages = site.pages | sort:'path'%}
      {% for meeting in pages reversed %}
        {% assign urlparts = meeting.url | split:'/' %}
        {% capture route %}{% for part in urlparts limit:2 offset:1 %}{{ part }}{% endfor %}{% endcapture %}
        {% if route == 'adminmeeting' %}
          <dt><a href="{{ meeting.url }}">{{ meeting.date }}</a>
          </dt>
          <dd>{{ meeting.description }}</dd>
        {% endif %}
      {% endfor %}
    </dl>
  </div>
</div>
