<!DOCTYPE html>
<html lang="en">
  <head>
    {% include script_head.html %}
  </head>
  <body>
    {% include header.html %}
    <div class="bodypad"></div>
    <div id="body" class="container">
      <div class="row">
        <div class="col-md-12">
          {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
        </div>
      </div>
        {{ content }}
    </div>
    <div id="footer">
        <div class="container">
          <p>Hackerspace Brisbane acknowledges the Yuggera and Turrbal peoples, the Traditional Custodians of the Country on which we meet, and pay our respect to Elders past, present and emerging. We honour and respect their continued cultural and spiritual relationship to their Traditional Lands and Waters and recognise their contribution to society.</p><br />
          <p>Sovereignty was never ceded.</p>

        </div>
    </div>
    {% include script_inline.html %}
  </body>
</html>
